#homepage {
    background-image: url("../static/webpage-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
}

.journey_image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: ridge;
    border-width: 1px;
    border-color: white;
    border-radius: 100%;;
    height: 200px;
    width: 200px;
}

.email_link {
    color: dodgerblue;
}

.email_link:hover {
    color: white;
}

.center_div_wrapper {
    width: fit-content;
    margin-inline: auto;
}

.hide_button_class {
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
    max-width: 200px;
    max-height: 100px;
    color: white;
    background-color: dodgerblue;
    transition: background-color 0.3s ease;
}

.hide_button_class:hover {
    color: white;
    background-color: #424242;
}

.dropdown_button_class {
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    max-width: 200px;
    max-height: 100px;
    color: white;
    background-color: dodgerblue;
    transition: background-color 0.3s ease;
}

.dropdown_button_class:hover{
    color: white;
    background-color: #424242;
}

/* Style the collapsible content. Note: hidden by default */
.dropdown-content {
    text-align: center;
    height: 800px;
    margin-inline: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

#header {
    margin-top: 40px;
    font-family: "Optima", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-inline: auto;
    width: 80vw;
    color: white;
    text-align: center;
}

#header-subtext {
    text-wrap: normal;
    word-break: break-word;
    font-family: "Optima", sans-serif;
    margin: auto;
    width: 50%;
    color: white;
    text-align: center;
}

.font_size {
    font-size: 24px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

.card-deck {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1200px) { /* Web CSS */

    .about-us1 {
        width: 70%;
    }

}

@media only screen and (max-width: 1199px) { /* Mobile CSS */

    .about-us1 {
        width: 70%;
    }

}

@media only screen and (max-width: 325px) { /* Stupid Galaxy Fold Width */

    .about-us1 {
        width: 70%;
    }

}