<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    <title>Journey Spratt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body id="homepage">
<div id="header">
    Journey Spratt
    </div>
<div id="header-subtext">
    <p>Computer Science BA, University at Buffalo</p>
    <p>Email:
    <a href="mailto:jsprattbusiness@gmail.com">jsprattbusiness@gmail.com</a>
    </p>
    </div>
<div class="resume">
    <div class="drop-button">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    View my Resume
  </button>
        </div>
    <br/>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <iframe id="google-doc" src="https://docs.google.com/document/d/1Um35q9tWP-m2gFwT-0ARYjRjFG-ikGNbc5z5HoihM44/preview">Resume</iframe>
  </div>
</div>
    </div>
<br/>
<br/>
<div class="card-deck">
    <div class="card" style="width: 18rem;">
  <img src="../static/GitHub-logo.png" class="card-img-top" alt="Image">
  <div class="card-body">
    <h5 class="card-title">GitHub</h5>
    <p class="card-text">On this page you'll be able to view the various projects I have worked on.</p>
    <a href="https://github.com/journey217" class="btn btn-primary">View Github</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="../static/linkedin-logo.png" class="card-img-top" alt="Image">
  <div class="card-body">
    <h5 class="card-title">LinkedIn</h5>
    <p class="card-text">View my LinkedIn profile to connect with me!</p>
    <a href="https://www.linkedin.com/in/journey-spratt-247955186/" class="btn btn-primary">View LinkedIn</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img src="../static/YouTube-logo.png" class="card-img-top" alt="Image">
  <div class="card-body">
    <h5 class="card-title">YouTube</h5>
    <p class="card-text">View demo videos of past projects on YouTube.</p>
    <a href="https://www.youtube.com/channel/UCtWbX2IY8637uHM_FEK7DRw" class="btn btn-primary">View YouTube</a>
  </div>
</div>
</div>
<br/>
<br/>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>